@model GameManager.Web.Models.LoanViewModel

@{
    ViewData["Title"] = "Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Devolução</h2>

<h4>Empréstimo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveReturn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model=>model.Id)
            <div class="form-group">
                <label asp-for="LendDate" class="control-label"></label>
                @Html.DisplayFor(model => model.LendDate)
                <span asp-validation-for="LendDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                @Html.DisplayFor(model => model.ReturnDate)
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnedDate" class="control-label"></label>
                <input asp-for="ReturnedDate" class="form-control" />
                <span asp-validation-for="ReturnedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label"></label>
                @Html.DisplayFor(model => model.BorrowedGame.Title)
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FriendId" class="control-label"></label>
                @Html.DisplayFor(model => model.Friend.Name)
                <span asp-validation-for="FriendId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
